body{
    background:linear-gradient(to left,lightblue,pink);
    background-repeat: no-repeat;
    
    background-size: cover;
    background-attachment: fixed;
}
h1{
    font-size: 40px;
    text-align: center;
    background: linear-gradient(to left, lightblue, pink);
    color: rgb(168, 113, 168)
    
}
p{
   background: linear-gradient(to left, lightblue, pink);
   font-family:Arial, Helvetica, sans-serif;
   font-size: 20px;
   font-style: italic;
   color: rgb(255, 9, 181)
     
}