/* Remove browser default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Full screen container */
.scene {
  width: 100vw;
  height: 100vh;

  display: grid;

  /* 4 columns, 3 rows */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  gap: 40px;

  background-color: #000;
}

/* Common box styling */
.box {
  background-color: crimson;
  color: white;
  width: 120px;
  height: 120px;
  gap: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
}

/* Top-left */
.box1 {
  grid-column: 1;
  grid-row: 1;
}

/* Top-right */
.box2 {
  grid-column: 2;
  grid-row: 1;
}

/* Middle-right */
.box3 {
  grid-column: 3 / 4;
  grid-row: 2;
}

.box4 {
  grid-column: 4 / 5;
  grid-row: 2;
}

/* Bottom-left */
.box5 {
  grid-column: 1 / 2;
  grid-row: 3;
}

.box6 {
  grid-column: 2 / 3;
  grid-row: 3;
}