body{
    background:black;
    
    display: flex;
    justify-content: left;
    align-items: top;
    height: 100vh;
    width: 100vh;
    margin: 0;
    padding: 0;
  
    
}
.scene{
     display: grid;
     justify-content: center;
     align-content: center;
    
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(3, auto);
     gap: 30px;
     width: 100vw;
     height: 100vh;
     margin: auto;
     perspective: 800px;
}
.box{
    width: 120px;
    height: 120px;
    background: crimson;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 2s;
}
.box1{
    grid-column: 1/3;
    grid-row: 1;
}
.box2{
    grid-column: 2;
    grid-row: 1;
}
.box3{
    grid-column: 3/5;
    grid-row: 2;
}
.box4{
    grid-column: 4;
    grid-row: 2;
}
.box5{
    grid-column: 1/3;
    grid-row: 3;
}
.box6{
    grid-column: 2;
    grid-row: 3;
}
.box1:hover{
    transform: rotateZ(360deg);
}
.box2:hover{
    transform: rotateX(180deg);
}
.box3:hover{
    transform: rotateY(120deg);
}
.box4:hover{
    transform: rotateX(360deg);
}
.box5:hover{
    transform: rotateX(360deg);
}
.box6:hover{
    transform: rotateZ(360deg);
}