.box1{
    width: 300px;
    height: 300px;
    border: 2px solid;
    background: lightblue;
    position: relative;
    top: 0px;
    left: 0px;
}
.box2{
    width: 100px;
    height: 100px;
    border: 2px solid;
    background: lightgreen;
    position: absolute;
    top: 100px;
    left: 100px;
}