* {
    margin: 0px;
   
}
#box1{
    border: 5px solid;
    width: 250px;
    height: 250px;
    font-size: 21px;
    background: rgb(166, 255, 0);
    padding: 5px;
    margin: 50px auto;
    
    

}
#box2{
    border: 2px solid;
    width: 250px;
    height: 250px;
    font-size: 21px;
    background: rgb(166, 255, 0);
    padding: 5px;
    
}
    
